:root{
    --lightGreen1: #f0f5f2;
    --lightGreen2: #d0f0d7;
    --lightGreen3: #c0e5d0;
    --darkGreen1: #002010;
    --darkGreen2: #053520;
    --darkGreen3: #407010;
    --darkGreenGrey:#294a2d;
    --white: #ffffff;
    --black: #000000;
    --darkOrange: #402000;
    --darkOrange3: #904818;
    --darkOrange2: #703810;
    --lightOrange: #f5af4e;
    --lightBlue: #9090ff;
    -lightBlue2: #7f7fed;
}