table{
    text-align: center;
    margin: 100px auto;
    font-family: 'Ubuntu', sans-serif;
}

td, th{
    font-size: 1.2em;
    padding: 10px
}
tbody tr:nth-child(odd){
    background-color: #e8ffe8;
}
tbody tr:nth-child(even){
    background-color: #f0e0ff;
}
thead, tfoot{
    background-color: #fff0e0;
}
tfoot{
    font-size: 0.7em;
}
tbody tr:first-child{
    background-color: #b0d0ff;
}
tbody tr:nth-child(6) td:first-child{
    font-style: italic;
}
tbody tr:nth-child(5) td:nth-child(3){
    background-color: #b0d0ff;
    font-weight: bold;
}

table, thead, tbody, tfoot, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}