@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Martel+Sans&display=swap');

body{
    padding: 40px;
    font-family: "Martel Sans", sans-serif;
    background-color: var(--lightGreen1);
}
h1, h2, h3, h4, h5, h6{
    font-family: "Cantana One", serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header{
    width: 100%;
}
footer{
    width: 100%;
}

.grid_container{
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.principle{
    margin: 10px;
    padding: 10px;
    padding-top: 0px;
    max-width: 320px;
    background-color: var(--lightGreen2);
    line-height: 125%;
}
.principle ul{
    list-style: '';
}
.principle h2{
    text-align: center;
    width: 280px;
    padding: 20px;
    background-color: var(--lightGreen3);
    font-size: 16pt;
}
.principle p{
    padding:5px;
}
.screenshot{
    padding-left: 10px;
    width: 300px;
    aspect-ratio: 540/1070;
    object-fit: cover;
}


header div, footer div{
    margin: 0px auto;
    background-color: var(--darkGreen2);
    color: white;
    padding: 20px;
    text-align: center;
}
footer ul{
    list-style: '';
}
@media screen and (max-width: 850px){
    .grid_container{
        display: grid;
        grid-template-columns: 1fr;
    }  
}
@media screen and (min-width: 851px){
    .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1201px){
    .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
